.modal {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.4);
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  padding: 0 10px 0 10px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  display: flex;
  max-width: 730px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__form {
  margin: 0;
  width: 100%;
}

.modal__form-header {
  display: flex;
  justify-content: space-between;
}

.modal__header {
  font-weight: 500;
  font-size: 32px;
  padding-bottom: 32px;
}

.modal__close-button {
  background-image: url(../images/close-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  opacity: 0.4;
  width: 50px;
  height: 50px;
  padding: 0 0 24px 0;
  cursor: pointer;
}

.modal__close-button:hover {
  background-image: url(../images/close-btn-hover.png);
  opacity: 1;
}

.modal__label {
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
}

.modal__inputs {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  line-height: 100%;
}

.modal__input {
  margin-bottom: 8px;
  padding: 16px 12px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

/* INPUT ERROR STYLING  */

.modal__input-error {
  display: none;
  color: #ff0000b2;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 32px;
  line-height: 110%;
  padding: 0;
}

.modal__input-error_active {
  display: block;
}

.modal__save-button {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  margin: 0;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.modal__save-button:hover {
  transition: opacity 0.5s;
}

.modal__save-button_inactive,
.modal__save-button:disabled {
  background-color: #212121;
  opacity: 0.5;
  cursor: not-allowed;
  color: #fcf5e5;
}

.modal__preview-container {
  position: relative;
}

.modal__link {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__caption {
  background-color: #212121;
  color: white;
  border-radius: 8px;
  width: fit-content;
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
}

.modal__preview-close {
  background-image: url(../images/close-preview.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: calc(100% + 12.5px);
}

.modal__preview-close:hover {
  background-image: url(../images/close-hover-preview.png);
}

@media screen and (max-width: 668px) {
  .modal__container {
    margin: 10px;
    padding: 22px 12px 12px;
  }

  .modal__header {
    font-size: 20px;
  }
  .modal__save-button {
    width: 100%;
  }

  .modal__input {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .modal__link {
    max-width: 288px;
  }
}

@media screen and (max-width: 360px) {
  .modal__link {
    max-width: 288px;
  }
}
